body
{font-family: Arial; font-size: 1em;  color: black;margin-left:1%;  
    background-color:rgba(245, 245, 245, 0.856); border-color:white;
}


div#navbar
{ 
margin-top: 5%;
border-left: hidden; border-right: hidden;
position:relative; width: 100%;
}
div#navbar ul {list-style-type: none;}
div#navbar ul li
{
 border-top: hidden;
border-bottom: hidden;
margin-right: 2em; width: 100%; float: left;  
}
div#navbar ul li a {text-decoration: none;
display: block; padding: 1em;}

main {
  display: block;
  background-color: lavender;
  padding: 50px;
}
header {
  display: block;
  background-color: white;
  width: 100%;
  height: 50px;
}
footer{
  margin-top: 13%; 
  text-align: center;
  display: block;
  background-color: cadetblue;
}